.OSNFTCard {
  .card-flyer {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 24px;
    background: rgb(37, 37, 37);
  }
  .card-flyer .image-box {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 24px;
    background: rgb(37, 37, 37);
    overflow: hidden;
    border-radius: 5px;
  }
  .card-flyer .image-box img {
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    width: 100%;
    object-fit: cover;
    height: 200px;
  }
  .card-flyer:hover .image-box img {
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
  .OSNFTCard_button {
    display: none;
  }
  .card-flyer:hover .OSNFTCard_button {
    display: block;
  }
}
